<%- column_div :type => :primary do -%>

  <% @sections.each do |section| %>

    <h2> <%= section_name(section) %>   </h2>
    <%= render :partial => 'topic', :collection => section.topics.find_recent %>
  <% end %>

<%- end -%>
<%- column_div :type => :secondary do -%>
  <%= render :partial => 'searches/box' %>
  <%= render :partial => 'shared/minifeed' %>
<%- end -%>
